header{
  background-image: url(sc2.jpg);
  position: center;
  text-align: center;
  color: white;
  padding: 32px;
  max-width: 1600px;
  min-width: 500px;
}
section{
  padding: 5px;
  background-color: plum;
  text-align: center;
  border-radius : 6px;
  padding: 32px;
  max-width: 1600px;
  min-width: 500px;
}
footer{
  background-color: #eee;
  text-align: left;
  padding: 10px;
  max-width: 1600px;
  min-width: 100px;
}
.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}